bin/
data/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
install-sh
missing
debian/mocca.1
debian/mocca.debhelper.log
debian/files
debian/mocca
debian/autoreconf.before
debian/autoreconf.after
debian/debhelper-build-stamp
debian/mocca.substvars
src/mocca
src/.deps/
src/Makefile
src/Makefile.in
src/*.o
src/models/*.o
src/models/.deps/
src/models/.dirstamp
src/lib/libsvm-3.17/.deps/
src/lib/libsvm-3.17/.dirstamp
src/lib/libsvm-3.17/*.o
tutorial/
