bin/
data/
Makefile
debian/mocca.1
debian/mocca.debhelper.log
debian/files
debian/mocca
debian/autoreconf.before
debian/autoreconf.after
debian/debhelper-build-stamp
debian/mocca.substvars
mocca
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
cmake_install.cmake
install_manifest.txt
liblibsvm.a
libranger.a
./*.deb
src/.deps/
src/*.o
src/lib/ranger/src/*.o
src/lib/ranger/src/.dirstamp
src/lib/ranger/src/.deps/
src/models/*.o
src/models/.deps/
src/models/.dirstamp
src/lib/libsvm-3.17/.deps/
src/lib/libsvm-3.17/.dirstamp
src/lib/libsvm-3.17/*.o
